.container-head {

    background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);
}

#logo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}


.shopping_much_bg {
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: rgba(89.00000229477882, 199.0000033378601, 171.00000500679016, 1);
    font-family: Coda;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(86.00000247359276, 224.000001847744, 150.0000062584877, 0.10000000149011612);
}


.self-search {
    width: 100%;
    height: 40px;
    font-family: Coda;
    background-color: transparent;
    border: 0;
    background-image: url('../images/search_background_1.png');
    background-size: 100% 100%;
}

.category-line {
    width: 2px;
    height: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.test-project-font {
    font-family: 'Noto Sans TC', sans-serif;
    color: #5CAEC0;
}


.COMM_name {
    font-size: 20pt;
    color: #56E096;
    font-family: Coda;
}

.COMM_desc {
    font-size: 16spt;
    color: white;
    font-family: Coda;
}

.bg {
    background-color: #1c2f4d;
    width: 100%;
    height: 100%;
    border: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.details {
    color: rgba(95.00000193715096, 149.00000631809235, 213.00000250339508, 1);
    font-family: Coda;
    text-align: right;
    font-size: 12pt;
}

.icon {
    height: 35px;
    width: 35px;
}

@media (min-width: 576px) {

    .n-col-sm-11 {
        flex: 0 0 auto;
        width: 80%;
        height: 180px;
    }

}

.n-col-sm-11 {
    flex: 0 0 auto;
    width: 80%;
    height: 240px;
}