/* 更新內容將所有input背景拿掉 */
.container-head {
    background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);
    height: 100%;
}

#logo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.member_txt { 
    color:rgba(101.00000157952309, 99.00000169873238, 255, 1);
	font-family:Coda;
	text-align:left;
	font-size:40px;
}

.phone_input_bg { 
	background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);
	width:100%;
	height:80px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
    border: 0;
}

.phone { 
	color:rgba(86.00000247359276, 224.000001847744, 150.0000062584877, 1);
	font-family:Coda;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.user_input_bg { 
	background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);
	width:100%;
	height:80px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
    border: 0;
}

.user_name { 
	color:rgba(98.00000175833702, 124.00000020861626, 234.00000125169754, 1);
	font-family:Coda;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.password_input_bg { 
	background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);
	width:100%;
	height:80px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
    border: 0;
}

.password { 
	color:rgba(95.00000193715096, 149.00000631809235, 213.00000250339508, 1);
	font-family:Coda;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.font_style
{
font-family: Coda;
color:	#939393;
font-weight:bold;
font-size: 30px;
}

.e_mail_input_bg { 
	background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);
	width:100%;
	height:80px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
    border: 0;
}

.e_mail { 
	color:rgba(89.00000229477882, 199.0000033378601, 171.00000500679016, 1);
	font-family:Coda;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.edit { 
    color:rgba(243.00000071525574, 67.00000360608101, 54.00000058114529, 1);
    background-color :#511b2b;
    font-family:Coda;
	font-size:30px;
    text-align:left;
    width:100%;
	height:80px;
    border: 0;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

input::placeholder {
    font-size: 20pt;
    font-family:Coda;
  }

.input_font {
    font-size: 20pt;
    font-family:Coda;
    color: white;
}  

/* 更新內容*/

.finish { 
	color:rgba(82.00000271201134, 247.00000047683716, 127.00000002980232, 1);
	font-family:Coda;
	font-size:40px;
    background-color:rgba(86.00000247359276, 224.000001847744, 150.0000062584877, 0.10000000149011612);
    width:100%;
	height:80px;
    border: 0;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}

.original_password
{
	color:#5F95D5;
	font-family:Coda;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.new_password
{
	color:#5CAEC0;
	font-family:Coda;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.confrim_passwrord
{
	color:#59C7AB;
	font-family:Coda;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}

.Revise_txt
{
	color:#5CAEC0;
	font-family:Coda;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.Revise_input
{
	background-color:#14272B;
	width:100%;
	height:80px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
    border: 0;
}