.container-head {
    background-color: rgba(0, 5.000000176951289, 20.000000707805157, 1);
    height: 100%;
}

#logo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.Saved_txt { 
    color:rgba(101.00000157952309, 99.00000169873238, 255, 1);
	font-family:Coda;
	text-align:left;
	font-size:40px;
}

/* 商品框架背景 */
.bg{
	background-color:#1c2f4d;
    width:100%;
	height:250px;
    border: 0;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;

}
/* 我的最愛按鈕 */
.icon
{
    height: 35px;
    width: 35px;
}
