<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/styles.css">

  <style>
    /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
    body {
      background: #E5E5E5;
    }
  </style>

</head>

<body>
  <div class=change_password>
    <div class="change_password_bg"></div>
    <div class="original_password_bg"></div><span class="original_password">Original
      Password</span>
    <div class="new_password_bg"></div><span class="new_password">New
      Password</span>
    <div class="confirm_password_bg"></div><span class="confirm_password">Confirm
      Password</span>
    <div class="finish_bg"></div><span class="finish">
      Finish</span>
  </div>
</body>

</html>