<!DOCTYPE html>
<html lang="utf-8">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 將我們需要的google font字體連接 英文 -->
    <link href="https://fonts.googleapis.com/css?family=Coda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

    <!-- 將我們需要的google font字體連接 中文 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap" rel="stylesheet">

    <!-- 與css連接 -->
    <link rel="stylesheet" href="../static/css/shopping_cart.css">
    <script rel="stylesheet" href="../static/js/shopping_cart.js"></script>


    <!-- 連接bootstrap相關資源 -->
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>


    <!-- 使用標籤 -->
    {% load static%}

</head>

<body class="container-head container-fluid" style="height: 100%;">
    <div>
        <div class="row  text-center">
            <div class="col-sm-2 ">
                <img type="button" id="logo" src="{% static 'images/logo.png' %}"
                    onclick="javascript:location.href='../home'">
            </div>
            <div class="col-sm-3 d-flex align-items-center">
                <p class="purchase_record_txt">Shopping Cart</p>
            </div>
            <div class="col-sm-7">
            </div>
        </div>

        <div style="height: 80px;"></div>

        <div class="row text-center">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-3 ">
                <div class="row">
                    <!-- 商品框架 -->
                    <div class="row g-0 shadow-sm h-md-200 position-relative bg">
                        <div class="col-auto d-none d-lg-block">
                            <div style="height: 25px;"></div>
                            <svg width="200" height="200" viewBox="0 0 200 200" class="bd-placeholder-img" role="img"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <!-- 商品圖片 -->
                                <image height="100%" width="100%" href="{% static 'images/product_1.gif' %}">
                            </svg>
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <!-- 商品名稱 -->
                            <h2 class="mb-2" style="color: rgba(101.00000157952309, 99.00000169873238, 255, 1)">
                                商品名稱</h2>
                            <div style="height: 50px;"></div>
                            <!-- 商品價格 -->
                            <h3 class="card-text mb-auto" style="color:#56E096; height: 50%;">商品價錢</h3>
                            <div class="row align-self-center">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5 control_bg">
                                    <!--數量-->
                                    <a id="m1" href="javascript:;" class="reduce reSty control"
                                        style="text-decoration: none;">-</a>
                                    <input id="test1" type="text" value="1" class="sum text-center much" onkeyup = "value=value.replace(/[^\d]/g,'')"
                                        style="height: 20px;width: 30px;">
                                    <a id="p1" href="javascript:;" class="plus control" style="text-decoration: none;">+</a>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-1">
                                    <!-- 刪除商品按鈕 -->
                                    <img type="button" class="icon" src="{% static 'images/delete_icon.png' %}" > 
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 "></div>
            <div class="col-sm-3 ">
                <div class="row">

                    <div class="row g-0 shadow-sm h-md-200 position-relative bg">
                        <div class="col-auto d-none d-lg-block">
                            <div style="height: 25px;"></div>
                            <svg width="200" height="200" viewBox="0 0 200 200" class="bd-placeholder-img" role="img"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <image height="100%" width="100%" href="{% static 'images/product_2.gif' %}">

                            </svg>
                        </div>
                        <div class="col p-4 d-flex flex-column position-static">
                            <h2 class="mb-2" style="color: rgba(101.00000157952309, 99.00000169873238, 255, 1)">
                                商品名稱</h2>
                            <div style="height: 50px;"></div>
                            <h3 class="card-text mb-auto" style="color:#56E096; height: 50%;">商品價錢</h3>
                            <div class="row align-self-center">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5 control_bg">
                                    <!--數量-->
                                    <a id="m2" href="javascript:;" class="reduce reSty control"
                                        style="text-decoration: none;">-</a>
                                    <input id="test2" type="text" value="1" class="sum text-center much" onkeyup = "value=value.replace(/[^\d]/g,'')"
                                        style="height: 20px;width: 30px;">
                                    <a id="p2" href="javascript:;" class="plus control" style="text-decoration: none;">+</a>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-1">
                                    <img type="button" class="icon" src="{% static 'images/delete_icon.png' %}" >
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div style="height: 100px;"></div>

    </div>


</body>

</html>